Makefile*
usersadmin*
debug
release
test
trash
testdatabase
*.pem
object_script*
*.http
*.png
*.user

*.stash
Makefile
*.txt
*.log
src/deprecated

**/*.d
.vscode
vendor
qpm.json
**/*.o
**/moc_*.cpp
**/qrc_*.cpp

clippycross.app/
/CMakeFiles/
/clippycross_autogen/
/.qt/
